{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block
style %}
<style>
  #home {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #progress {
    min-height: 100vh;
  }
  .fab-entries {
    position: fixed;
    right: 1rem !important;
    background-color: rgba(67, 208, 55, 70%);
    bottom: 1rem;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    outline: rgba(67, 208, 55, 70%);
    border-color: transparent;
    color: white;
  }
  .fab-entries:hover,
  .fab-entries:focus,
  .fab-entries:active {
    background-color: rgba(67, 208, 55, 70%);
    border-color: transparent;
  }
  ul {
    list-style: none;
  }

  li.entry-item {
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li.food {
    background-color: rgba(67, 208, 55, 45%);
  }

  li.exercise {
    background-color: rgba(234, 101, 93, 45%);
  }

  button {
    background: none;
    border: none;
  }
  .dashboard-cards {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .dash-card {
    height: 250px;
    width: 170px;
    margin: 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 2rem;
    border: none;
  }
  .circle {
    height: 90px;
    width: 90px;
    border: black solid 1px;
    border-radius: 50%;
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1em;
  }
  h5 {
    margin-bottom: 0;
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .calories-card {
    background-color: rgba(216, 107, 218, 40%);
  }
  .water-card {
    background-color: rgba(55, 208, 199, 40%);
  }
  .food-card {
    background-color: rgba(67, 208, 55, 70%);
  }
  .exercise-card {
    background-color: rgba(234, 101, 93, 70%);
  }
  .mouse-animation {
    width: 100%;
    position: absolute;
    bottom: 2rem;
  }
  .mouse {
    margin: 2rem auto;
    height: 100px;
    width: 50px;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
  }
  .scroll-bar {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: scroll-down 1s alternate-reverse;
    animation-iteration-count: infinite;
  }
  @keyframes scroll-down {
    to {
      transform: translate(-50%, -100%);
    }
  }
  @media screen and (max-width: 990px) {
    .mouse-animation {
      display: none;
    }
  }
</style>
{% endblock style %} {% block content %}
<section id="home">
  <h1 class="py-3">Hi, {{user.name.split()[0]}}!</h1>
  <div class="dashboard-cards">
    <div class="card calories-card dash-card mb-4">
      <h3>Calories</h3>
      <div class="cal-scale">
        <div class="circle">
          <h5 class="total_cal">1300</h5>
          <div class="line"></div>
          <h5>{{user.cal_goal|int}}</h5>
        </div>
      </div>
      <div class="calories-card-data">
        <h3>Cals</h3>
      </div>
    </div>
    <div class="card water-card dash-card mb-4">
      <h3>Water</h3>
      <div class="water-scale">
        <div class="circle">
          <h5 id="total_water">9</h5>
          <div class="line"></div>
          <h5>{{user.water_goal}}</h5>
        </div>
      </div>
      <div class="water-card-data">
        <h3>Glasses</h3>
      </div>
    </div>
    <div class="card food-card dash-card mb-4">
      <h3>Food</h3>
      <div class="icon">
        <i class="bi bi-egg-fried" style="font-size: 2.5rem"></i>
      </div>
      <div class="food-card-data">
        <h3><span class="food_cal">200</span> cals</h3>
      </div>
    </div>
    <div class="card exercise-card dash-card mb-4">
      <h3>Exercise</h3>
      <div class="icon">
        <i class="bi bi-activity" style="font-size: 2.5rem"></i>
      </div>
      <div class="exercise-card-data">
        <h3><span class="exercise_cal">200</span> cals</h3>
      </div>
    </div>
  </div>
  <div class="mouse-animation">
    <div class="mouse">
      <div class="scroll-bar"></div>
    </div>
  </div>
</section>
<section id="progress">
  {{res}}
  <h2 class="mb-3">Progress</h2>
  <div class="card" style="padding: 1rem">
    <ul class="list-group list-group-flush" id="entries">
      {% if not user.entries %}
      <h3>Add Entries!</h3>
      {% else %} {% for entry in user.entries %}
      <li class="entry-item d-flex" data-entry-type="{{entry.type}}">
        {% if entry.type == "Food" %}
        <div class="icon"><i class="bi bi-egg-fried"></i></div>
        {% else %}
        <div class="icon"><i class="bi bi-activity"></i></div>
        {% endif %}
        <div class="name-count">
          <div class="entry-name"><b>{{entry.item}}</b></div>
          <div class="entry-count">
            {% if entry.type == "Food" %} Servings {% else %} Reps {% endif %} -
            {{entry.count}}
          </div>
        </div>
        <div class="entry-cal">{{entry.cal|int}} cals</div>
        <button
          class="del-icon delete-entry"
          onClick="deleteEntry({{entry.id}})"
        >
          <i class="bi bi-archive-fill"></i>
        </button>
      </li>
      {% endfor %} {% endif %}
    </ul>
  </div>
</section>
<!-- Button trigger modal -->
<button
  type="button"
  class="btn fab-entries"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  <i class="bi bi-plus-lg"></i>
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Entry Form</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="col-auto row mb-3 align-items-center d-flex">
            <div class="col-auto">
              <label for="type" class="col-form-label">Type of Entry</label>
            </div>
            <select
              class="form-select col-auto"
              aria-label="Default select example"
              style="width: auto"
              id="type"
              name="type"
              required
            >
              <option value="Food" selected>Food</option>
              <option value="Exercise">Exercise</option>
              <option value="Water">Water</option>
            </select>
          </div>
          <div class="entries">
            <div class="col-auto row mb-3 align-items-center d-flex">
              <div class="col-auto">
                <label for="entryName" class="col-form-label entrySelect"
                  >Name</label
                >
              </div>
              <select
                class="form-select col-auto entryName"
                aria-label="Default select example"
                style="width: auto"
                id="entryName"
                name="entryName"
                required
              ></select>
            </div>
            <div class="row g-3 mb-3 align-items-center">
              <div class="col-auto">
                <label for="caloriesData" class="col-form-label"
                  >Calories</label
                >
              </div>
              <div class="col-auto">
                <input
                  type="text"
                  id="caloriesData"
                  name="caloriesData"
                  class="form-control"
                  readonly
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="entryCount" class="col-form-label">Count</label>
              </div>
              <div class="col-auto">
                <input
                  type="number"
                  id="entryCount"
                  name="entryCount"
                  class="form-control"
                  min="1"
                  value="1"
                  step="1"
                />
              </div>
            </div>
          </div>
          <div class="waterEntry d-none">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="waterCount" class="col-form-label">Glass</label>
              </div>
              <div class="col-auto">
                <input
                  type="number"
                  id="waterCount"
                  name="waterCount"
                  class="form-control"
                  min="1"
                  value="1"
                  step="1"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='home.js') }}"
></script>
{% endblock scripts %}
