{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block
style %}
<style>
  .fab-entries {
    position: fixed;
    right: 1rem !important;
    bottom: 1rem;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
  }
</style>
{% endblock style %} {% block content %}
<section id="home">
  <h1 class="py-3">Hi, {{user.name.split()[0]}}!</h1>
</section>
<section id="progress">
  <h2>Progress</h2>
</section>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary fab-entries" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <i class="bi bi-plus-lg"></i>
</button>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Entry Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-auto row mb-3 align-items-center d-flex">
            <div class="col-auto">
              <label for="type" class="col-form-label">Type of Entry</label>
            </div>
            <select class="form-select col-auto" aria-label="Default select example" style="width: auto" id="type"
              name="type" required>
              <option value="Food" selected>Food</option>
              <option value="Exercise">Exercise</option>
            </select>
          </div>
          <div class="entires">
            <div class="col-auto row mb-3 align-items-center d-flex">
              <div class="col-auto">
                <label for="type" class="col-form-label entryName">Name</label>
              </div>
              <select class="form-select col-auto" aria-label="Default select example" style="width: auto" id="type"
                name="type" required>
                <option value="Food" selected>Food</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock scripts %}